/*responsive design edits primarily at bottom*/

html {background-color: rgb(109, 82, 124);}

* {color: rgb(22, 13, 46);}

/*text styling*/

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

* {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {text-decoration: none;}

span:hover {
    color: rgb(92, 22, 173);
    font-family: verdana;
    font-size: 11pt;
}

p,def {
    font-family: monospace;
    line-height: 25px;
}


/*I don't know why, but the font I embedded doesn't appear exactly as it does on google*/
/*end of text styling this week*/

h3, h4 {
    margin-left: 25px;
}

li {
    color: rgb(67, 37, 83);
    font-family: monospace;
}


/*Other styling*/

.pageblock {
    background: rgb(186, 148, 207);
    border: 3px solid rgb(22, 13, 46);
    border-radius: 12px;
    max-width: 1000px;
    margin: auto;
}

#bio-para {
    max-width: 650px;
    margin-left: 20px;
    color: rgb(67, 37, 83);
}

.blurb-container {
    border: 3px solid rgb(22, 13, 46);
    border-radius: 12px;
    /*height and wigth changed to max for viewport*/
    max-width: 700px;
    max-height: 1000px;
    margin-left: 25%;
    margin-top: 10px;
    padding: 10px;
}

#interests {display: inline-block;}

.likes-container {
    border: 3px solid rgb(22, 13, 46);
    border-radius: 12px;
    width: 250px;
    margin-left: 25px;
}

/*Responsive design edits*/

img { max-width: 16%; height: auto;}

/*trying to make the iframe responsive - copied code over from courses external website to play with it*/
/* though because of it on desktop its not aligned inline anymore*/
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

.responsive-iframe {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 700px;
    height: 480px;
}

/* For  phones: */
@media only screen and (max-width: 768px) {
    p {color: black;}
}

@media (max-width: 480px) { img { display: none; /* meant to hide images on small screens */ } }

@media (max-width: 480px) { .blurb-container, .likes-container { margin: auto; } }

/*nav copied over from assignment 12 and edited to fit for this assignment*/
a {margin: 10px;}

.nav-container {
    font-size: 18pt;
}

.navigation {
    text-align: center;
    padding: 10px;
}

.hidden-links {
    display: none;
    text-align: center;
    position: fixed;
    padding: 10px;
    background-color: rgb(163, 124, 184);
    width: 980px;
    font-size: 12pt;
    margin: 0%;
}

@media (max-width: 480px) {.hidden-links {display: contents; text-align: center;background-color: none;max-width: 980px;}}

@media (max-width: 480px) {}

.nav-container:hover .hidden-links {
    display: block;
}